<template>
    <div v-swiper:mySwiper="swiperOption" class="banner__container-items full-height">
        <div class="swiper-wrapper">
            <div class="swiper-slide banner__container-items-single full-height">
                <div class="row no-gutters full-height">
                    <div class="col-7 pull-right bg-triangle banner__container-items-single-inner">
                        <div class="d-flex align-items-center full-height">
                            <div class="banner__container-items-single-inner-text text-right">
                                <h2>Мы сделали, реформат и
                                    переделали дизайн! </h2>
                                <p>Lorem ipsum consectetur adipisicing elit, sed do eiusmod
                                    dolore magna aliqua. Ut enim ad minim veniam,
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide banner__container-items-single full-height">
                <div class="row no-gutters full-height">
                    <div class="col-7 pull-right bg-triangle banner__container-items-single-inner">
                        <div class="d-flex align-items-center full-height">
                            <div class="banner__container-items-single-inner-text text-right">
                                <h2>Мы сделали, реформат и
                                    переделали дизайн! </h2>
                                <p>Lorem ipsum consectetur adipisicing elit, sed do eiusmod
                                    dolore magna aliqua. Ut enim ad minim veniam,
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination" slot="pagination"></div>
    </div>
</template>

<script>
    export default {
        name: "News",
        data() {
            return {
                swiperOption: {
                    autoplay: {
                        delay: 5000,
                    },
                    reverseDirection: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                },
            }
        },
    }
</script>

<style scoped>

</style>
