<template>
    <div class="sidebar">
        <div class="sidebar-chart">
            <hr>
            <div class="sidebar-chart_header text-center">
                <h4>{{ $t('chart.chart') }}</h4>
            </div>

            <TopChart />
        </div>
        <div class="ad">
            <hr>
                <img class="w-100" src="~/assets/img/add.png">
            <hr>
        </div>
    </div>
</template>

<script>
    import TopChart from '~/components/Sidebar/TopChart';
    export default {
        name: "Sidebar",
        components: {
            TopChart,
        }
    }
</script>

<style scoped>

</style>
