<template>
    <div class="top_chart">
        <tabs>
            <tab-content v-if="day" :selected="true" hash="#day" :label="$t('chart.day')">
                <Track v-for="track in day" :track="track" :key="track.id" />
            </tab-content>

            <tab-content v-if="week" hash="#week" :label="$t('chart.week')">
                <Track v-for="track in week" :track="track" :key="track.id" />
            </tab-content>
        </tabs>
    </div>
</template>

<script>
    import Tabs from '~/components/Other/Tabs/Tabs';
    import TabContent from '~/components/Other/Tabs/TabContent';
    import Track from '~/components/Tracks/Track';
    export default {
        name: "TopChart",
        components: {
            Tabs,
            TabContent,
            Track,
        },

        data() {
            return {
                day: [
                    {
                        id: 1,
                        artists: 'Radiology',
                        track: 'Phobia',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523719749-radiology-phobia.jpg',
                        mp3: 'https://edm.uz/files/c47a07b7-53ef-455c-a947-f9d4aae27fb6/c47a07b7-53ef-455c-a947-f9d4aae27fb6-128.mp3',
                    },

                    {
                        id: 2,
                        artists: 'Dada Life',
                        track: 'One Nation Under Lasers (Original Mix)',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523791430-dada-life-one-nation-under-lasers-original-mix.jpg',
                        mp3: 'https://edm.uz/files/19423b30-0d87-4b1e-a1bd-ae1c7396751f/19423b30-0d87-4b1e-a1bd-ae1c7396751f-128.mp3',
                    },

                    {
                        id: 3,
                        artists: 'Dropgun',
                        track: 'Together As One (Original Mix)',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523795772-dropgun-together-as-one-original-mix.jpg',
                        mp3: 'https://edm.uz/files/accf0b4c-75b4-4bfa-a980-ca2a2b4e9c4c/accf0b4c-75b4-4bfa-a980-ca2a2b4e9c4c-128.mp3',
                    },

                    {
                        id: 4,
                        artists: 'Going Deeper, Mingue',
                        track: 'Hold On (Original Mix)',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523796020-going-deepermingue-hold-on-original-mix.jpg',
                        mp3: 'https://edm.uz/files/5b00453c-13c9-4f12-9264-b914fbee1477/5b00453c-13c9-4f12-9264-b914fbee1477-128.MP3',
                    },

                    {
                        id: 5,
                        artists: 'Timmy Trumpet, Dimatik',
                        track: 'Punjabi',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523797057-timmy-trumpetdimatik-punjabi.jpg',
                        mp3: 'https://edm.uz/files/eaedf88a-5a9c-4299-9073-b01a64ce552e/eaedf88a-5a9c-4299-9073-b01a64ce552e-128.mp3',
                    },
                ],
                week: [
                    {
                        id: 6,
                        artists: 'Bellorum, Aazar',
                        track: 'Back Home',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523801192-bellorumaazar-back-home.jpg',
                        mp3: 'https://edm.uz/files/b51750c9-640b-4c5d-9e03-019983ba0dfb/b51750c9-640b-4c5d-9e03-019983ba0dfb-128.mp3',
                    },

                    {
                        id: 7,
                        artists: 'Quintino, Alvaro',
                        track: 'Dem Shots',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523863461-quintino-alvaro-dem-shots.jpg',
                        mp3: 'https://edm.uz/files/36dae166-7290-4322-a060-39b13ef46a4a/36dae166-7290-4322-a060-39b13ef46a4a-128.mp3',
                    },

                    {
                        id: 8,
                        artists: 'Breathe Carolina, KEVU',
                        track: 'Ravers (Extended Mix)',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523863475-breathe-carolina-ang-like-that-extended-mix.jpg',
                        mp3: 'https://edm.uz/files/6baad29d-0ab8-41b5-8989-25fbf181c494/6baad29d-0ab8-41b5-8989-25fbf181c494-128.mp3',
                    },

                    {
                        id: 9,
                        artists: 'Sullivan King',
                        track: 'Don\'t Go',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1526155881-sullivan-king-falling.jpg',
                        mp3: 'https://edm.uz/files/939ab93b-7a96-4e06-86db-4257ebb945ec/939ab93b-7a96-4e06-86db-4257ebb945ec-128.mp3',
                    },

                    {
                        id: 10,
                        artists: 'Starx & Distort',
                        track: 'Moksha',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1526156094-starx-distort-moksha.jpg',
                        mp3: 'https://edm.uz/files/6232990a-e2af-455b-9e6f-cc89343944ba/6232990a-e2af-455b-9e6f-cc89343944ba-128.mp3',
                    },
                ],
            }
        },
    }
</script>

<style scoped>

</style>
