<template>
    <div v-show="isActive" class="tab-pane">
        <slot />
    </div>
</template>

<script>
    export default {
        props: {
            label: {
                required: true,
            },

            hash: {
                required: true,
            },

            selected: {
                default: false,
            }
        },
        name: "TabContent",
        data() {
            return {
                isActive: false,
            }
        },

        created() {
            this.isActive = this.selected;
        }
    }
</script>

<style scoped>

</style>
