<template>
    <div class="tabs__container">
        <ul v-if="tabs && tabs.length" class="tabs__container-nav row justify-content-center no-gutters">
            <li class="col" v-for="item in tabs"><a @click.prevent="changeTab(item)" :class="{ 'active' : item.isActive }" :href="item.hash" data-toggle="tab">{{ item.label }}</a></li>
        </ul>

        <div class="tab-content">
            <slot />
        </div>
    </div>
</template>

<script>
    export default {
        name: "Tabs",
        data() {
            return {
                tabs: [],
            }
        },

        methods: {
            changeTab(tab) {
                this.tabs.forEach(item => {
                    item.isActive = (tab.hash === item.hash);
                });
            }
        },

        created() {
            this.tabs = this.$children;
        }
    }
</script>

<style scoped>

</style>
