@font-face {
    font-family: Montserrat-light;
    src: url(./montserrat-light.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Montserrat-medium;
    src: url(./montserrat-medium.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Montserrat-regular;
    src: url(./montserrat-regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Montserrat-semibold;
    src: url(./montserrat-semibold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Montserrat-bold;
    src: url(./montserrat-bold.ttf);
    font-weight: bold;
    font-style: normal;
}

