@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fgdvsi');
  src:  url('fonts/icomoon.eot?fgdvsi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fgdvsi') format('truetype'),
    url('fonts/icomoon.woff?fgdvsi') format('woff'),
    url('fonts/icomoon.svg?fgdvsi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ok:before {
  content: "\e939";
}
.icon-pause-circle:before {
  content: "\e936";
}
.icon-retry:before {
  content: "\e937";
}
.icon-trash:before {
  content: "\e938";
}
.icon-radio:before {
  content: "\e935";
}
.icon-play-circle .path1:before {
  content: "\e90c";
  color: rgb(245, 8, 180);
}
.icon-play-circle .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-volume-off:before {
  content: "\e905";
}
.icon-pause:before {
  content: "\e906";
}
.icon-play:before {
  content: "\e934";
}
.icon-volume:before {
  content: "\e900";
}
.icon-playlist:before {
  content: "\e901";
}
.icon-repeat:before {
  content: "\e902";
}
.icon-next:before {
  content: "\e903";
}
.icon-last:before {
  content: "\e904";
}
.icon-shuffle:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-checked:before {
  content: "\e909";
}
.icon-Download:before {
  content: "\e90a";
}
.icon-logo:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90e";
}
.icon-share:before {
  content: "\e90f";
}
.icon-user:before {
  content: "\e910";
}
.icon-close:before {
  content: "\e911";
}
.icon-en .path1:before {
  content: "\e912";
  color: rgb(63, 81, 181);
}
.icon-en .path2:before {
  content: "\e913";
  margin-left: -1.5712890625em;
  color: rgb(255, 255, 255);
}
.icon-en .path3:before {
  content: "\e914";
  margin-left: -1.5712890625em;
  color: rgb(255, 255, 255);
}
.icon-en .path4:before {
  content: "\e915";
  margin-left: -1.5712890625em;
  color: rgb(255, 255, 255);
}
.icon-en .path5:before {
  content: "\e916";
  margin-left: -1.5712890625em;
  color: rgb(255, 255, 255);
}
.icon-en .path6:before {
  content: "\e917";
  margin-left: -1.5712890625em;
  color: rgb(255, 255, 255);
}
.icon-en .path7:before {
  content: "\e918";
  margin-left: -1.5712890625em;
  color: rgb(255, 255, 255);
}
.icon-en .path8:before {
  content: "\e919";
  margin-left: -1.5712890625em;
  color: rgb(229, 57, 53);
}
.icon-en .path9:before {
  content: "\e91a";
  margin-left: -1.5712890625em;
  color: rgb(229, 57, 53);
}
.icon-en .path10:before {
  content: "\e91b";
  margin-left: -1.5712890625em;
  color: rgb(229, 57, 53);
}
.icon-en .path11:before {
  content: "\e91c";
  margin-left: -1.5712890625em;
  color: rgb(229, 57, 53);
}
.icon-en .path12:before {
  content: "\e91d";
  margin-left: -1.5712890625em;
  color: rgb(229, 57, 53);
}
.icon-en .path13:before {
  content: "\e91e";
  margin-left: -1.5712890625em;
  color: rgb(229, 57, 53);
}
.icon-ru .path1:before {
  content: "\e91f";
  color: rgb(255, 61, 0);
}
.icon-ru .path2:before {
  content: "\e920";
  margin-left: -1.466796875em;
  color: rgb(63, 81, 181);
}
.icon-ru .path3:before {
  content: "\e921";
  margin-left: -1.466796875em;
  color: rgb(255, 255, 255);
}
.icon-uz .path1:before {
  content: "\e922";
  color: rgb(0, 200, 83);
}
.icon-uz .path2:before {
  content: "\e923";
  margin-left: -1.466796875em;
  color: rgb(0, 172, 193);
}
.icon-uz .path3:before {
  content: "\e924";
  margin-left: -1.466796875em;
  color: rgb(213, 0, 0);
}
.icon-uz .path4:before {
  content: "\e925";
  margin-left: -1.466796875em;
  color: rgb(236, 239, 241);
}
.icon-uz .path5:before {
  content: "\e926";
  margin-left: -1.466796875em;
  color: rgb(255, 255, 255);
}
.icon-uz .path6:before {
  content: "\e927";
  margin-left: -1.466796875em;
  color: rgb(0, 172, 193);
}
.icon-uz .path7:before {
  content: "\e928";
  margin-left: -1.466796875em;
  color: rgb(255, 255, 255);
}
.icon-uz .path8:before {
  content: "\e929";
  margin-left: -1.466796875em;
  color: rgb(255, 255, 255);
}
.icon-uz .path9:before {
  content: "\e92a";
  margin-left: -1.466796875em;
  color: rgb(255, 255, 255);
}
.icon-uz .path10:before {
  content: "\e92b";
  margin-left: -1.466796875em;
  color: rgb(255, 255, 255);
}
.icon-uz .path11:before {
  content: "\e92c";
  margin-left: -1.466796875em;
  color: rgb(255, 255, 255);
}
.icon-uz .path12:before {
  content: "\e92d";
  margin-left: -1.466796875em;
  color: rgb(255, 255, 255);
}
.icon-uz .path13:before {
  content: "\e92e";
  margin-left: -1.466796875em;
  color: rgb(255, 255, 255);
}
.icon-uz .path14:before {
  content: "\e92f";
  margin-left: -1.466796875em;
  color: rgb(255, 255, 255);
}
.icon-uz .path15:before {
  content: "\e930";
  margin-left: -1.466796875em;
  color: rgb(255, 255, 255);
}
.icon-uz .path16:before {
  content: "\e931";
  margin-left: -1.466796875em;
  color: rgb(255, 255, 255);
}
.icon-uz .path17:before {
  content: "\e932";
  margin-left: -1.466796875em;
  color: rgb(255, 255, 255);
}
.icon-uz .path18:before {
  content: "\e933";
  margin-left: -1.466796875em;
  color: rgb(255, 255, 255);
}
