@import '../css/bootstrap-reboot.min.css';
@import '../css/bootstrap-grid.min.css';
@import '../fonts/style.css';
@import '../fonts/font-face.css';

//Methods
$browser-context: 18;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//Mixins

@mixin transtion($seconds: 0.3s) {
  -webkit-transition: $seconds ease;
  -moz-transition: $seconds ease;
  -ms-transition: $seconds ease;
  -o-transition: $seconds ease;
  transition: $seconds ease;
}

@mixin transform($data) {
  -webkit-transform: $data;
  -moz-transform: $data;
  -ms-transform: $data;
  -o-transform: $data;
  transform: $data;
}

@mixin input-placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
  &::placeholder {
    @content
  }
}

//Colors
$black: #000000;
$dark-blue: #0C0C18;
$gray: #171817;
$white: #ffffff;
$purple: #C179B9;
$pink: #ED215E;
$orange: #EA824B;

//Vars
$montserat-regular: 'Montserrat-regular', sans-serif;
$montserat-medium: 'Montserrat-medium', sans-serif;
$montserat-light: 'Montserrat-light', sans-serif;
$montserat-sb: 'Montserrat-semibold', sans-serif;
$montserat-b: 'Montserrat-bold', sans-serif;

$header-height: em(90);

//input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
//  color: #fff !important;
//  background-color: transparent;
//}

input {
  //transition: background-color 9999s ease-in-out 0s;
  background-color: transparent;
  color: #fff;
}

.btn {
  background: $pink;
  background: #fff;
  text-align: center;
  border: 0;
  @include transtion();
  min-width: em(150);
  padding: em(7);
  font-family: $montserat-medium;

  &.pink {
    background: $pink !important;

    &:hover, &:focus {
      background: #fff !important;
      color: $black !important;
    }
  }

  input {
    display: none;
  }
}

html {
  font-size: #{$browser-context}px;
  color: #fff;
}

body {
  background-color: $dark-blue;
  font-family: $montserat-regular;
  padding-bottom: em(80);
}

a {
  @include transtion();
  text-decoration: none !important;

  &, &:hover, &:focus {
    color: #fff;
  }
}

button {
  background-color: transparent;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

hr {
  border: 0;
  height: em(4);
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  background: -moz-linear-gradient(left, #ed215e 0%, #0c0c18 67%);
  background: -webkit-linear-gradient(left, #ed215e 0%, #0c0c18 67%);
  background: linear-gradient(to right, #ed215e 0%, #0c0c18 67%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed215e', endColorstr='#0c0c18', GradientType=1);
}

img {
  max-width: 100%;
  height: auto;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: em(15);
  padding-right: em(15);
}

.container {
  &, &-fluid {
    padding-left: em(15);
    padding-right: em(15);
  }
}

//Additional
.full-height {
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bg-white {
  background: #fff;
}

.bg-triangle {
  background: url('../img/triangle.svg') no-repeat 0% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  //&:after {
  //  content: '';
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  background: #fff;
  //  left: 0;
  //  top: 0;
  //  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
  //          clip-path: polygon(100% 0, 0 50%, 100% 100%);
  //}
}

.pull-right {
  margin-left: auto;
}

.pull-left {
  margin-right: auto;
}

//Content

.header {
  min-height: $header-height;

  &__nav {
    padding: 0 em(25);
    background: $black;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 9999;

    &-logo {
      i {
        font-size: em(45);
      }

      padding: em(20) 0;
      display: inline-block;
    }

    &-left {

    }

    &-center {
      &-nav {
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            display: inline-block;
            padding-bottom: em(5);

            a {
              font-size: em(16);
              position: relative;
              font-family: $montserat-medium;

              &:before {
                content: '';
                position: absolute;
                height: em(2);
                background: $pink;
                width: 0;
                left: 50%;
                bottom: -0.5em;
                opacity: 0.5;
                @include transtion();
                @include transform(translate(-50%, 0))
              }

              &.nuxt-link-exact-active {
                &:before {
                  width: 70%;
                  opacity: 1 !important;
                }
              }

              &:hover, &:focus {
                &:before {
                  width: 70%;
                }
              }
            }

            & + li {
              margin-left: em(30);
            }
          }
        }
      }
    }

    &-right {
      &-actions {
        &, ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
        }

        > li {
          display: inline-block;

          & + li {
            margin-left: em(10);
          }
        }
      }
    }

    &-search {
      position: absolute;
      padding: 0 em(25);
      left: 0;
      height: 100%;
      width: 100%;
      background: #fff;
      top: -100%;
      z-index: 1;
      @include transtion();

      &[data-show="true"] {
        top: 0;
      }
    }
  }

  &__banner {

  }
}

.search__field {
  position: relative;
  padding-right: em(75);

  input {
    border: 0;
    outline: 0;
    border-bottom: em(2) solid $purple;
    @include transtion();
    max-width: 100%;
    width: 100%;
    padding: em(7) 0;

    &:focus {
      border-color: $pink;
    }
  }

  &-actions {
    display: inline-block;
    position: absolute;
    right: 0;
    top: em(10);
  }

  &-close {
    color: #000 !important;
  }

  &-btn {
    margin-right: em(10);
  }
}

.language__switcher {
  position: relative;
  top: em(-3);

  img {
    max-width: em(27);
  }

  ul {
    opacity: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    top: 100%;
    margin-top: em(5);
    @include transtion();

    &[data-show="true"] {
      opacity: 1;
    }
  }
}

.banner {

}

.featured__tracks {
  img {
    width: 100%;
    max-width: 100%;
  }
}

.player__container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  @include transtion();
  background: $dark-blue;
  z-index: 999999;

  i {
    font-size: em(20);
  }

  &-playlist {
    background: $gray;
    position: fixed;
    right: em(-450);
    top: 0;
    height: calc(100% - #{em(83)});
    width: em(450);
    overflow-y: scroll;
    @include transtion();

    &[data-show] {
      right: 0;
    }
  }

  &:hover, &:focus {
    .player__container-progress {
      height: em(15);
    }

    .player__container-playlist {
      height: calc(100% - #{em(90)});
    }
  }

  &-progress {
    height: em(8);
    background: #E6E4E4;
    position: relative;
    cursor: pointer;
    @include transtion();

    &-filled {
      @include transtion(.5s);
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      pointer-events: none;
      width: 0;
      background: $pink;
    }
  }

  &-controls {
    &-info {
      &-img {
        max-width: em(75);
      }

      &-text {
        margin-left: em(20);

        h6, p {
          font-size: em(16);
          margin: 0;
        }

        h6 {
          font-family: $montserat-b;
        }

        p {
          color: #A8A7A7;
        }
      }
    }

    &-button {
      display: inline-block;
      vertical-align: middle;

      & + & {
        margin-left: em(15);
      }

      .active {
        i {
          cursor: pointer;
          color: $pink;
        }
      }
    }

    &-volume {
      &-slider {
        &-inner {
          input {

          }
        }
      }
    }

    &-prev {

    }

    &-play {
      a {
        background: $pink;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        display: block;
        height: em(45);
        width: em(45);
        font-size: em(20);

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          @include transform(translate(-50%, -50%));

          &.icon-play {
            margin-left: em(2);
          }
        }
      }
    }

    &-next {

    }

    &-shuffle {

    }

    &-repeat {

    }

    &-playlist {

    }

    &-center {
      padding: em(12) 0;
    }

    &-right {
      padding-right: em(15);
    }

    &-time {
      pointer-events: none;

      p {
        z-index: 100;
        margin: 0;
        position: absolute;
        top: 50%;
        font-size: em(10);
        font-family: $montserat-medium;
        @include transform(translate(0, -50%));
        color: #000;
      }

      &__current {
        left: em(5);
      }

      &__total {
        right: em(5);
      }
    }
  }
}

.banner__container {
  &-items {
    &-single {
      position: relative;
      background-image: url('../img/banner.png');
      background-position: 50% 50% !important;
      -webkit-background-size: cover !important;
      background-size: cover !important;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #EA824B;
        opacity: .4;
      }

      &-inner {
        position: relative;
        z-index: 1;

        &-text {
          padding-left: em(200);
          padding-right: em(30);

          h2 {
            color: $pink;
            font-size: em(37);
            line-height: em(25);
          }

          h2, p {
            font-family: $montserat-sb;
          }
        }
      }
    }
  }
}

.sidebar {
  background-color: $gray;
  //width: 25%;

  &-chart {
    &_header {
      color: $white;
      padding: em(25) 0 em(15);

      h4 {
        display: inline-block;
        position: relative;
        padding: em(5) em(5);
        font: em(25) $montserat-sb;

        &:before {
          position: absolute;
          content: "";
          width: 50%;
          height: em(2);
          bottom: 0;
          left: 0;
          background-color: #ED215E;
          transition: all 0.5s;
          transform: scaleX(0.5);
        }

        &:hover:before {
          transition: all 0.3s;
          transform: scaleX(1);
          width: 100%;
        }
      }
    }
  }

  .top_chart {
    ul {
      padding: 0;
      margin: 0;
    }

    li {
      text-align: center;
      margin-bottom: em(30);
      list-style-type: none;

      a {
        color: $white;
        position: relative;
        padding: 0;
        padding-bottom: em(10);
        text-decoration: none;

        &:before {
          position: absolute;
          content: "";
          width: 100%;
          height: em(2);
          bottom: 0;
          left: 0;
          background-color: #aaaaaa;
          transition: all 0.5s;
          transform: scaleX(0.5);
        }

        &:hover:before {
          transition: all 0.3s;
          transform: scaleX(1);
        }
      }

      .active {
        &:before {
          background-color: #ED215E;
        }
      }
    }
  }

  .ad {
    margin: em(40) 0;
  }
}

.swiper-pagination {
  left: 0;
  bottom: 0 !important;
  text-align: left !important;
  padding-left: em(20);
  padding-bottom: em(20);

  &-bullet {
    width: em(10);
    height: em(10);
    opacity: .8;
    background: #fff !important;

    &-active {
      opacity: 1 !important;
    }
  }
}

.tabs__container {
  &-nav {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    margin-bottom: em(45);

    li {
      a {
        position: relative;
        display: inline-block;
        padding-bottom: em(10);

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          width: 60%;
          -webkit-border-radius: em(5);
          -moz-border-radius: em(5);
          border-radius: em(5);
          height: em(2);
          left: 50%;
          background: #AAAAAA;
          @include transtion();
          @include transform(translate(-50%, 0));
        }

        &.active {
          &:after {
            background: $pink;
          }
        }
      }
    }
  }
}

.wide__track {
  @include transtion();

  &:nth-of-type(odd) {
    background: #fff;

    p {
      color: $black;
    }
  }

  //border-top: em(1) solid $pink;
  //
  //&:last-child {
  //  border-bottom: em(1) solid $pink;
  //}

  &-img {
    position: relative;
    margin-right: em(35);

    img {
      max-width: em(100);
    }
  }

  &-text {
    h6 {
      color: $pink;
      font: em(18) $montserat-b;
    }

    p {
      @include transtion();
      color: #fff;
      margin: 0;
      font: em(16) $montserat-medium;
    }
  }
}

@-webkit-keyframes change-color {
  0% {
    background: $pink;
  }

  50% {
    background: $black;
  }

  100% {
    background: $pink;
  }
}

@keyframes change-color {
  0% {
    background: $pink;
  }

  50% {
    background: $black;
  }

  100% {
    background: $pink;
  }
}


.circle__play {
  &[data-active] {
    opacity: 1;
    animation: change-color 5s linear infinite;
  }

  &, i {
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
  }

  &:hover {
    opacity: 1;
  }

  @include transtion();
  opacity: .6;
  margin-top: em(6);
  width: em(40);
  height: em(40);
  display: block;
  background: $pink;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  i {
    margin-left: em(2);
  }
}

.main__content {
  padding: em(30) em(40);
}

.content__title {
  font-family: $montserat-sb;
  font-size: em(24);
  color: #fff;
  margin-bottom: 1.875em;
}

.artists {
  //&-container {
  //  &:nth-of-type(1n + 5){
  //    margin-top: em(30);
  //  }
  //}

  &-single {
    position: relative;

    &-link {
      display: block;

      img {
        width: 100%;
      }

      &-description {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: block;
        padding: em(10) em(5);
        background: $gray;

        h6 {
          margin: 0;
          font-size: em(17);
          text-align: center;
          font-family: $montserat-sb;
        }
      }
    }

    &-social {
      position: absolute;
      top: em(15);
      right: em(15);

      &-single {
        opacity: .44;
        @include transtion();

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.tracks {
  &-single {
    &-play {

    }

    &-img {

    }

    &-text {
      text-align: right;
      color: #fff;
      position: absolute;
      width: 100%;
      background: rgba(0, 0, 0, .85);
      bottom: 0;
      left: 0;
      padding: em(5) em(10);

      h6, p {
        margin: 0;
      }

      h6 {
        font-size: em(16);
        font-family: $montserat-sb;
      }

      p {
        font-size: em(14);
      }
    }

    .circle__play {
      width: em(65);
      height: em(65);
      background: rgba(0, 0, 0, .8);

      i {
        font-size: em(25);
      }
    }
  }
}

.fade {
  &-enter-active, &-leave-active {
    transition: opacity .3s;
  }

  &-enter, &-leave-to {
    opacity: 0;
    visibility: hidden;
  }
}

.content_section {
  & + & {
    margin-top: em(30);
  }
}

//.qq-uploader {
//  height: em(500);
//  max-height: none;
//  &[qq-drop-area-text] {
//
//  }
//
//  .qq-upload-list {
//    li:not([qq-file-id]){
//      display: none;
//    }
//  }
//
//  .qq-upload-button {
//    color: #333;
//    background-color: #f5f5f5;
//    border: 0;
//    margin: 0;
//    font-weight: 500;
//    @include transtion();
//    width: auto;
//    &:hover, &:focus {
//      background: darken(#f5f5f5, 10%);
//    }
//
//    &-selector {
//
//    }
//
//    &.red {
//      background: $pink;
//      color: #fff;
//      &:hover, &:focus {
//        background: darken($pink, 10%);
//      }
//    }
//
//    //&.blue {
//    //  background: $black;
//    //  color: #fff;
//    //  &:hover, &:focus {
//    //    background: darken($pink, 10%);
//    //  }
//    //}
//
//    & + .qq-upload-button {
//      margin-left: em(10);
//    }
//  }
//}

.login__page {
  min-height: calc(100vh - #{em(170)});
  height: calc(100vh - #{em(170)});

  &-form {
    padding: em(25) 0;
    max-width: em(450);
    width: 100%;
    margin: auto;
    color: #fff;

    input {
      border: 0;
      background: transparent;
      border-bottom: em(2) solid $pink;
      width: 100%;
      outline: 0;
      color: #fff !important;
      padding: em(7) 0;
      @include input-placeholder {
        color: #fff !important;
      }
    }

    .btn {
      padding: em(7);
    }

    h3 {
      margin-bottom: em(20);
    }

    .form-field {
      & + .form-field {
        margin-top: em(20);
      }
    }
  }
}

.uploader {
  max-width: em(800);
  margin: auto;
  height: em(600);
  border: em(2) solid $pink;
  color: #fff;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;

  .btn {
    color: #000;
    cursor: pointer;
  }

  &-area {
    margin-top: em(15);
    &-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      &-single {
        margin-bottom: em(25);
        position: relative;
        &-close {
          position: absolute;
          z-index: 1;
          right: em(-11);
          top: em(-13);
          cursor: pointer;
          padding: 0.5em 0.7em 0.45em;
          font-size: em(12);
          background: $pink;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          @include transtion();
          &:hover, &:focus {
            background: #fff;
            color: #000;
          }
        }

        &-cover {
          position: relative;
          .progress__bar, .audio__button {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            @include transform(translate(-50%, -50%));
          }

          .audio__button {
            text-align: center;
            margin-top: em(2);
            i {
              color: $black;
              cursor: pointer;
              //font-size: em(55);
              font-size: 4.7em;
              position: relative;
              &.icon-play-circle {
                .path1 {
                  &:before {
                    color: $black;
                  }
                }

                .path2 {
                  &:before {
                    margin-left: -1.5em;
                  }
                }
              }

              &:after {
                content: '';
                position: absolute;
                z-index: -1;
                background: #fff;
                width: 50%;
                height: 50%;
                left: 50%;
                top: 50%;
                @include transform(translate(-50%, -50%));
              }
            }
          }
        }
      }
    }

    &-edit__area {
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      background: #fff;
    }
  }

  &-drop__area {
    position: absolute;
    pointer-events: none;
    left: 50%;
    top: 50%;
    font-size: em(32);
    text-align: center;
    @include transform(translate(-50%, -50%));

    &.has__files {
      color: transparent;
    }
  }
}

.progress__bar {
  .circular-chart {
    display: block;
    max-width: 100%;
    max-height: em(100);
  }

  .circle {
    stroke: $pink;
    fill: none;
    stroke-width: 2;
    //stroke-linecap: round;
    transition: all 1s ease;
    &.filled {
      stroke: #fff;
    }
  }
}
