<template>
    <div class="player__container">
        <div @click="seek" class="player__container-progress" title="Time played : Total time">
            <div class="player__container-progress-filled" :style="{ width: this.percentComplete + '%' }"></div>
            <div class="player__container-controls-time">
                <p class="player__container-controls-time__current">{{ currentTime }}</p>
                <p class="player__container-controls-time__total">{{ durationTime }}</p>
            </div>
        </div>
        <div class="player__container-controls">
            <div class="row no-gutters align-items-center">
                <div class="col">
                    <div v-if="current" class="player__container-controls-left">
                        <div class="player__container-controls-info">
                            <div class="row no-gutters align-items-center">
                                <div class="player__container-controls-info-img">
                                    <img :src="current.img" alt="">
                                </div>

                                <div class="player__container-controls-info-text">
                                    <h6>{{ current.artists }}</h6>
                                    <p>{{ current.track }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="player__container-controls-center">
                        <div class="player__container-controls-repeat player__container-controls-button">
                            <a @click.prevent="innerLoop = !innerLoop" :class="(innerLoop) ? 'active' : ''" href="#">
                                <i class="icon-repeat"></i>
                            </a>
                        </div>

                        <div class="player__container-controls-prev player__container-controls-button">
                            <a href="#">
                                <i class="icon-last"></i>
                            </a>
                        </div>

                        <div class="player__container-controls-play player__container-controls-button">
                            <a @click.prevent="playing = !playing" title="Play/Pause" href="#">
                                <i v-if="!playing" class="icon-play"></i>
                                <i v-else class="icon-pause"></i>
                            </a>
                        </div>

                        <div class="player__container-controls-next player__container-controls-button">
                            <a href="#">
                                <i class="icon-next"></i>
                            </a>
                        </div>

                        <div class="player__container-controls-shuffle player__container-controls-button">
                            <a href="#">
                                <i class="icon-shuffle"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col text-right">
                    <div class="player__container-controls-right">
                        <div class="player__container-controls-radio player__container-controls-button">
                            <a @click.prevent="toggleRadio" :class="{ 'active' : radioActive }" href="#">
                                <i class="icon-radio"></i>
                            </a>
                        </div>

                        <div class="player__container-controls-playlist player__container-controls-button">
                            <a @click.prevent="togglePlaylist" :class="{ 'active' : showPlaylist }" href="#">
                                <i class="icon-playlist"></i>
                            </a>
                        </div>

                        <div class="player__container-controls-volume player__container-controls-button">
                            <a :class="(muted) ? 'active' : ''" @click.prevent="mute" title="Mute" href="#">
                                <i v-if="!muted" class="icon-volume"></i>
                                <i v-else class="icon-volume-off"></i>
                            </a>

                            <div class="player__container-controls-volume-slider">
                                <div class="player__container-controls-volume-slider-inner">
                                    <input v-model.lazy.number="volume" v-show="showVolume" type="range" min="0" max="100"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div>-->
                <!--<a @click.prevent="stop" title="Stop" href="#">-->
                    <!--<svg width="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">-->
                        <!--<path fill="currentColor"-->
                              <!--d="M16,4.995v9.808C16,15.464,15.464,16,14.804,16H4.997C4.446,16,4,15.554,4,15.003V5.196C4,4.536,4.536,4,5.196,4h9.808C15.554,4,16,4.446,16,4.995z"/>-->
                    <!--</svg>-->
                <!--</a>-->
            <!--</div>-->

            <!--<div>-->
                <!--<a @click.prevent="" @mouseenter="showVolume = true" title="Volume" href="#">-->
                    <!--<svg width="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">-->
                        <!--<path fill="currentColor"-->
                              <!--d="M19,13.805C19,14.462,18.462,15,17.805,15H1.533c-0.88,0-0.982-0.371-0.229-0.822l16.323-9.055C18.382,4.67,19,5.019,19,5.9V13.805z"/>-->
                    <!--</svg>-->
                <!--</a>-->
            <!--</div>-->
        </div>
        <audio :loop="innerLoop" ref="audiofile" :src="file" preload="auto" style="display: none;"></audio>

        <div :data-show="showPlaylist" class="player__container-playlist">
            <Track v-for="track in tempPlaylist" :track="track" :key="track.id" />
        </div>
    </div>
</template>

<script>
    const convertTimeHHMMSS = (val) => {
        let hhmmss = new Date(val * 1000).toISOString().substr(11, 8);

        return hhmmss.indexOf("00:") === 0 ? hhmmss.substr(3) : hhmmss;
    };

    import { mapMutations, mapGetters } from 'vuex';
    import Track from '~/components/Tracks/Track';
    export default {
        name: "AudioPlayer",
        components: {
            Track,
        },
        props: {
            // file: {
            //     type: String,
            //     default: null
            // },
            autoPlay: {
                type: Boolean,
                default: false
            },
            loop: {
                type: Boolean,
                default: false
            }
        },
        data: () => ({
            showPlaylist: null,
            audio: undefined,
            currentSeconds: 0,
            durationSeconds: 0,
            innerLoop: false,
            loaded: false,
            playing: false,
            previousVolume: 35,
            showVolume: false,
            volume: 100,
            dragging: false,
            x: null,
            y: null,
            timer: null,
        }),
        computed: {
            ...mapGetters({
                current: 'player/current',
                file: 'player/url',
                tempPlaylist: 'player/tempPlaylist',
                radioActive: 'player/radio',
            }),

            currentTime() {
                return convertTimeHHMMSS(this.currentSeconds);
            },

            durationTime() {
                if(!this.radioActive && this.durationSeconds){
                    return convertTimeHHMMSS(this.durationSeconds);
                }
            },

            percentComplete() {
                return (this.currentSeconds / this.durationSeconds * 100);
            },

            muted() {
                return this.volume / 100 === 0;
            }
        },
        watch: {
            playing(value) {
                if (value) {
                    this.audio.play();
                    this.changePlayerState(true);
                    return;
                }
                this.audio.pause();
                this.changePlayerState(false);
            },

            volume(value) {
                this.showVolume = false;
                this.audio.volume = this.volume / 100;
            },
        },
        methods: {
            ...mapMutations({
                changePlayerState: 'player/changePlayerState',
                radio: 'player/toggleRadio',
                setCurrentTrack: 'player/setCurrentTrack',
            }),

            togglePlaylist(){
                this.showPlaylist = !(this.showPlaylist);
            },

            download() {
                this.stop();
                window.open(this.file, 'download');
            },

            load(e) {
                if (this.audio.readyState >= 2) {
                    this.loaded = true;
                    this.durationSeconds = parseInt(this.audio.duration);
                    return this.playing = this.autoPlay;
                }

                throw new Error('Failed to load sound file.');
            },

            progress(e){
                // console.log(e);
            },

            mute() {
                if (this.muted) {
                    return this.volume = this.previousVolume;
                }

                this.previousVolume = this.volume;
                this.volume = 0;
            },

            seek(e) {
                if(!this.audio.currentTime){
                    return;
                }

                if(!this.playing){
                    this.play();
                }

                const el = e.target.getBoundingClientRect();
                const seekPos = (e.clientX - el.left) / el.width;

                this.audio.currentTime = parseInt(this.audio.duration * seekPos);
            },

            stop() {
                this.playing = false;
                this.audio.currentTime = 0;
            },

            update(e) {
                this.currentSeconds = parseInt(this.audio.currentTime);
            },

            play(){
                this.playing = true;
            },

            pause(){
                this.playing = false;
            },

            canplay(){
                this.play();
            },

            startDrag() {
                this.dragging = true;
                this.x = this.y = 0;
            },

            stopDrag() {
                this.dragging = false;
                this.x = this.y = 'no';
            },

            ended(){
                if(!this.innerLoop){

                }
            },

            doDrag(e) {
                if (this.dragging) {
                    this.seek(e);
                }
            },

            nextTrack(){

            },

            prevTrack(){

            },

            async changeTrackApi(){
                let stations = await this.$axios.$get('https://radio.edm.uz/api/nowplaying/1', {
                    progress: false,
                });

                let { station, live, now_playing, playing_next, song_history } = stations;
                let { song } = now_playing;

                let current = {
                    id: song.id,
                    img: song.art,
                    artists: song.artist,
                    track: song.title,
                    mp3: station.listen_url
                };

                this.setCurrentTrack(current);
            },

            async toggleRadio(){
                this.radio();
                if(this.radioActive){
                    try {
                        this.timer = setInterval(() => {
                            this.changeTrackApi();
                        },10000);

                        if(!this.playing) {
                            this.play();
                        }

                    } catch (e) {

                    }
                } else {
                    clearInterval(this.timer);
                    this.timer = null;
                    this.pause();
                    this.setCurrentTrack({});
                }
            }
        },

        created() {
            this.innerLoop = this.loop;
        },

        mounted() {
            this.audio = this.$refs.audiofile;
            this.audio.addEventListener('timeupdate', this.update);
            this.audio.addEventListener('loadeddata', this.load);
            this.audio.addEventListener('pause', this.pause);
            this.audio.addEventListener('play', this.play);
            this.audio.addEventListener('progress', this.progress);
            this.audio.addEventListener('canplay', this.canplay);
            this.audio.addEventListener('ended', this.ended);
            // window.addEventListener('mouseup', this.stopDrag);
        }
    }
</script>

<style lang="scss">

</style>
