<template>
    <div class="artists-single swiper-slide">
        <a class="artists-single-link" href="#">
            <img :src="artist.img">
            <span class="artists-single-link-description">
                <h6>{{ artist.name }}</h6>
            </span>
        </a>

        <div class="artists-single-social">
            <a href="#" class="artists-single-social-single">
                <img src="~/assets/img/fb.png">
            </a>

            <a href="#" class="artists-single-social-single">
                <img src="~/assets/img/fb.png">
            </a>

            <a href="#" class="artists-single-social-single">
                <img src="~/assets/img/fb.png">
            </a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['artist'],
        name: "Artist"
    }
</script>

<style scoped>

</style>
