<template>
    <li class="language__switcher">
        <a @click.prevent="toggleLanguage" href="#"><img :src="require(`~/assets/img/${locale}.svg`)" alt=""></a>
        <ul :data-show="open">
            <li v-for="locale in availableLocales">
                <nuxt-link
                        :to="switchLocalePath(locale.code)">
                    <img :src="require(`~/assets/img/${locale.code}.svg`)" alt="">
                </nuxt-link>
            </li>
        </ul>
    </li>
</template>

<script>
    export default {
        props: ['open'],
        name: "LanguageSwitcher",
        methods: {
            toggleLanguage() {
                return this.$emit('toggle');
            },
        },

        computed: {
            availableLocales () {
                return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
            },

            locale () {
                return this.$i18n.locale
            }
        }
    }
</script>

<style scoped>

</style>
