<template>
    <div v-if="show" :data-width="width" :data-height="height" class="media-query">
        <slot />
    </div>
</template>

<script>
    export default {
        props: {
            width: {
                type: Number,
                default: 0,
            },

            height: {
                type: Number,
                default: 0,
            },

            separator: {
                type: String,
                validator(value){
                    return ['>', '=', '>=', '<=', '<'].indexOf(value) !== -1;
                },
                default: '<',
            }
        },
        name: "MediaQuery",
        computed: {
            windowWidth: {
                get(){
                    return window.innerWidth;
                },

                set(val){
                    return val;
                }
            },

            windowHeight: {
                get(){
                    return window.innerHeight;
                },

                set(val){
                    return val;
                }
            },

            show(){
                let width = this.width;
                let height = this.height;

                let windowWidth = this.windowWidth;
                let windowHeight = this.windowHeight;
                let result = -1;
                switch (this.separator) {
                    case '<':
                        result = !!(width > 0 && width < windowWidth || height > 0 && height < windowHeight);
                        break;

                    case '=':
                        result = !!(width > 0 && width === windowWidth || height > 0 && height === windowHeight);
                        break;

                    case '>=':
                        result = !!(width > 0 && width >= windowWidth || height > 0 && height >= windowHeight);
                        break;

                    case '<=':
                        result = !!(width > 0 && width <= windowWidth || height > 0 && height <= windowHeight);
                        break;

                    case '>':
                        result = !!(width > 0 && width > windowWidth || height > 0 && height > windowHeight);
                        break;
                }

                return result;
            },
        },

        methods: {
            changeWidth() {

            }
        },

        mounted() {
            let vm = this;
            window.addEventListener('resize', () => {
                vm.windowHeight = window.innerHeight;
                vm.windowWidth = window.innerWidth;
            });
        }
    }
</script>

<style scoped>

</style>
