<template>
    <div class="upload__track-page">
        <div class="container">
            <div class="upload__track">
                <AudioUploader />
            </div>
        </div>
    </div>
</template>

<script>
    import AudioUploader from '~/components/Uploader/AudioUploader';
    export default {
        name: "upload",
        layout: "empty",
        middleware: 'checkAuth',
        data() {
            return {

            }
        },

        components: {
            AudioUploader,
        },

        mounted(){

        },

        head(){
            return {
                title: 'Загрузка треков',
            }
        }
    }
</script>

<style scoped>

</style>
