<template>
    <div ref="uploader" v-show="show" class="uploader">
        <label for="file" class="btn">
            Select files
            <input id="file" accept="audio/mpeg" ref="file" multiple type="file">
        </label>

        <div :class="`uploader-drop__area ${(files.length) ? 'has__files' : ''}`">
            <span>Drop files here</span>
        </div>

        <button v-if="files && files.length" @click.prevent="removeAll" class="btn">Remove all</button>
        <button v-show="!startState && files.length" class="btn" @click.prevent="uploader.upload()">Start All</button>
        <button v-show="!pauseState && files.length" class="btn" @click.prevent="uploader.pause()">Pause All</button>
        <div class="uploader-area">
            <ul v-if="files" class="uploader-area-list row">
                <template v-for="file in files">
                    <li v-if="file" class="col-4" :key="file.index">
                        <div class="uploader-area-list-single">
                            <div @click.prevent="remove(file)" class="uploader-area-list-single-close">
                                <span class="icon-close"></span>
                            </div>

                            <audio
                                    @loadeddata="updateForm($event, file.index)"
                                    @play="stopAll($event, file)" controls
                                    @pause="pauseTrack($event, file)"
                                    v-show="false"
                                    :src="file.fileUrl">
                            </audio>

                            <div class="uploader-area-list-single-cover">
                                <div class="progress__bar">
                                    <span class="audio__button">
                                        <i @click.prevent="playCurrent(file.audio)" v-if="!file.play" class="icon-play-circle">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>

                                        <i @click.prevent="pauseCurrent(file.audio)" v-else class="icon-pause-circle"></i>
                                    </span>
                                    <svg viewBox="0 0 36 36" class="circular-chart">
                                        <path class="circle filled"
                                              stroke-dasharray="100, 100"
                                              d="M18 2.0845
                                              a 15.9155 15.9155 0 0 1 0 31.831
                                              a 15.9155 15.9155 0 0 1 0 -31.831"
                                        />

                                        <path v-show="file.progress" class="circle fill"
                                              :stroke-dasharray="`${file.progress}, 100`"
                                              d="M18 2.0845
                                              a 15.9155 15.9155 0 0 1 0 31.831
                                              a 15.9155 15.9155 0 0 1 0 -31.831"
                                        />
                                    </svg>
                                </div>
                                <img v-if="file.form.image" :src="file.form.image" alt="">
                                <img v-else src="~/assets/img/no-cover.jpg" alt="">
                            </div>

                            <!--<button class="btn" @click.prevent="start(file)">Start</button>-->

                            <!--<button class="btn" @click.prevent="pause(file)">Pause</button>-->
                            <!--<button class="btn" @click.prevent="retry(file)">Retry</button>-->
                        </div>
                    </li>
                </template>
            </ul>

            <div class="uploader-area-edit__area">
                <div class="form">
                    <form action="">
                        <div class="row">
                            <div class="col-6">
                                <img src="~/assets/img/no-cover.jpg" alt="">
                            </div>
                            <div class="col-6">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // import TusClient from 'tus-js-client';
    import Resumable from 'resumablejs';
    import jsmediatags from 'jsmediatags';
    import Form from '~/utilities/Form';

    export default {
        name: "AudioUploader",
        data() {
            return {
                files: [],
                show: false,
                startState: null,
                pauseState: null,
                uploader: null,
            }
        },
        methods: {
            initUploader() {
                let uploader = Resumable({
                    target: `${process.env.apiURL}/user/upload`,
                    chunkSize: 3 * 1024 * 1024,
                    chunkRetryInterval: 3000,
                    maxChunkRetries: 5,
                    xhrTimeout: 1000,
                    simultaneousUploads: 4,
                    headers: {
                        Authorization: this.getToken(),
                    },
                    testChunks: true,
                    throttleProgressCallbacks: 1,
                    fileType: ['mp3'],
                });

                if (uploader.support) {
                    this.show = true;

                    uploader.assignBrowse(this.$refs.file);
                    uploader.assignDrop(this.$refs.uploader);
                    uploader.on('fileAdded', this.initFile);
                    uploader.on('fileSuccess', this.success);
                    uploader.on('fileError', this.error);
                    // uploader.on('fileProgress', this.progress);
                    uploader.on('complete', this.complete);
                    uploader.on('uploadStart', this.uploadStart);
                    uploader.on('pause', this.uploadPause);
                    uploader.on('progress', this.progress);

                    this.uploader = uploader;
                }
            },

            async initFile(uploaderFile) {
                let {file, uniqueIdentifier} = uploaderFile;
                let fileUrl = URL.createObjectURL(file);
                let size = file.size;

                let form = this.getFormTemplate();
                let tags = await this.getID3Tags(file);
                if (tags) {
                    let {artist, album, genre, title, comment, year, lyrics, TPUB, APIC, PIC} = tags.tags;
                    form.title = title;
                    form.artists = artist;
                    form.album = album;
                    form.genres = genre;
                    form.comment = (comment && comment.text) ? comment.text : '';
                    form.label = (TPUB && TPUB.data) ? TPUB.data : '';
                    form.year = year;
                    form.size = (size / 1024 / 1024);
                    form.lyrics = (lyrics && lyrics.lyrics) ? lyrics.lyrics : '';

                    let image = (APIC && APIC[0]) ? ((APIC[0]['data']) ? APIC[0]['data'] : '') : ((APIC && APIC['data']) ? APIC['data'] : '');
                    image = (image === '') ? ((PIC && PIC['data']) ? PIC['data'] : '') : image;

                    if (image) {
                        var base64String = "";
                        for (let i = 0; i < image.data.length; i++) {
                            base64String += String.fromCharCode(image.data[i]);
                        }

                        let biteCover = btoa(base64String);
                        image = "data:" + image.format + ";base64," +
                            biteCover;

                        form.image = image;
                    }
                }
                // let uploader = new TusClient.Upload(file, this.getOptions(file, index));

                form.file = file;
                this.files.unshift({
                    index: uniqueIdentifier,
                    file: uploaderFile,
                    fileUrl,
                    audio: null,
                    form,
                    play: false,
                    progress: null,
                });
                this.uploader.upload();
            },

            progress(file) {
                this.files = this.files.map(item => {
                    if (item) {
                        let uploader = item.file;
                        item.progress = parseInt(uploader.progress() * 100);
                        return item;
                    }
                });
            },

            success(file, message) {
                this.$axios.$post('/user/upload/complete', {
                    id: file.uniqueIdentifier,
                    fileName: file.fileName,
                }, {
                    progress: false,
                }).then(() => {
                    this.$notify.success('Трек успешно загружен');
                }).catch(() => {
                    this.$notify.success('Ошибка трек не загружен');
                })
            },

            updateForm(e, index) {
                let audio = e.target;
                this.files = this.files.map(item => {
                    if (item.index === index) {
                        let form = item.form;
                        form.duration = audio.duration;
                        form.bitrate = this.getBitrate(form.file.size, form.duration);
                        item.form = form;
                        item.audio = audio;
                    }
                    return item;
                })
            },

            stopAll(e, file) {
                let playerElems = document.querySelectorAll('.uploader-area-list-single audio');
                for (let i = 0; i < playerElems.length; i++) {
                    let audio = playerElems[i];
                    if (audio !== e.target) {
                        audio.currentTime = 0;
                        audio.pause();
                    }
                }

                this.files = this.files.map(item => {
                    item.play = !!(item && item.index === file.index);
                    return item;
                });
            },

            pauseTrack(e, file){
                this.files = this.files.map(item => {
                    if(item && item.index === file.index){
                        item.play = false;
                    }
                    return item;
                });
            },

            getBitrate(size, duration) {
                return Math.ceil(Math.round((size / 128) / duration) / 16) * 16;
            },

            getFormTemplate() {
                return new Form({
                    id: null,
                    artists: '',
                    title: '',
                    album: '',
                    label: '',
                    date: '',
                    bpm: '',
                    image: null,
                    file: null,
                    fileUrl: '',
                    genres: '',
                    comment: '',
                    lyrics: '',
                    status: '',
                    bitrate: null,
                    size: null,
                    duration: null,
                })
            },

            getID3Tags(file) {
                return new Promise((resolve, reject) => {
                    jsmediatags.read(file, {
                        onSuccess(tag) {
                            resolve(tag);
                        },
                        onError(error) {
                            reject(error);
                        }
                    });
                }).then(tag => tag)
                    .catch(e => {
                        console.error(e);
                    });
            },

            pause(file) {
                file.uploader.abort();
            },

            retry(file) {
                file.uploader.retry();
            },
            //
            remove(fileObject) {
                let {file, index} = fileObject;
                file.cancel();

                this.files = this.files.filter(item => {
                    return item.index !== index;
                });
            },

            error(file, message) {
                this.$notify.error(`Ошибка: ${message}`);
            },

            complete() {
                this.startState = true;
                this.pauseState = true;
            },

            uploadStart() {
                this.startState = true;
                this.pauseState = false;
            },

            uploadPause() {
                this.pauseState = true;
                this.startState = false;
            },

            removeAll() {
                this.uploader.cancel();
                this.files = [];
                this.$refs.file.value = '';
            },

            pauseCurrent(audio){
                audio.pause();
            },

            playCurrent(audio){
                audio.play();
            }
        },

        mounted() {
            this.initUploader();
        }
    }
</script>

<style scoped>

</style>
