<template>
    <div ref="uploader" class="audio__uploader">
        <div ref="template" id="qq-template">
            <div class="qq-uploader-selector qq-uploader drag-zone" qq-drop-area-text="Перенесите файлы сюда">
                <div class="progress">
                    <div class="white-text blue qq-total-progress-bar-selector" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                    <span class="qq-upload-drop-area-text-selector"></span>
                </div>
                <div class="buttons">
                    <div class="qq-upload-button-selector qq-upload-button">
                        <div>Выбрать</div>
                    </div>

                    <button v-if="uploader && count" @click.prevent="uploader.cancelAll()"
                            class="qq-upload-button-selector qq-upload-button red">
                        Отменить все
                    </button>

                    <button v-if="uploader && count" @click.prevent="uploader.uploadStoredFiles()" class="qq-upload-button-selector qq-upload-button">
                        Загрузить
                    </button>
                </div>
                <span class="qq-drop-processing-selector qq-drop-processing">
                    <span>В процессе</span>
                    <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
                </span>
                <ul class="qq-upload-list-selector qq-upload-list row" aria-live="polite" aria-relevant="additions removals">
                    <li class="col col-md-12 track">
                        <div class="inner">
                            <div class="track-form">
                                <form method="POST">
                                    <div class="upload__track">
                                        <div class="upload__track-header">
                                            <!-- Buttons -->
                                            <div class="upload__track-header-buttons">
                                                <button type="button" class="file-button-edit-track button-with-text"><i class="fa fa-pencil"></i> Править</button>
                                                <button type="button" class="qq-upload-pause-selector red button-action button-with-text"><i class="mdi-av-pause"></i> Пауза</button>
                                                <button type="button" class="qq-upload-continue-selector button-action button-with-text"><i class="ion-ios-cloud-upload-outline" data-pack="ios" data-tags="storage"></i> Старт</button>
                                                <button type="button" class="qq-upload-retry-selector button-action button-with-text"><i class="mdi-av-replay"></i> Повтор</button>
                                                <button type="button" class="qq-upload-cancel-selector file-button-cancel btn-small red"><i class="mdi-navigation-close"></i></button>
                                                <button type="button" class="qq-upload-delete-selector file-button-cancel btn-small red"><i class="mdi-navigation-close"></i></button>
                                            </div>
                                            <!-- Progress bar -->
                                            <div class="upload__track-header-progress progress">
                                                <div class="white-text active striped gray qq-progress-bar-selector upload__track-header-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <!-- Track-info -->
                                            <div class="upload__track-header-top">
                                                <div class="upload__track-header-top-image">
                                                    <!--<img class="cover-image" src="{{asset('img/no-cover.jpg')}}" alt="">-->
                                                </div>
                                                <div class="upload__track-header-top-info">
                                                    <h5 class="upload__track-header-top-track_name">
                                                        <span class="upload__track-header-top-track_name-artists">Artist</span>
                                                        <span>-</span>
                                                        <span class="upload__track-header-top-track_name-name">Title</span>
                                                    </h5>
                                                    <ul class="upload__track-header-top-extra qq-hide">
                                                        <li class="temp-length" data-item-id="true" id="temp-length">Длительность: <span></span></li>
                                                        <li>Размер: 10Mb</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="upload__track-header-bottom">
                                                <span class="qq-upload-size-selector qq-upload-size"></span>
                                            </div>

                                        </div>

                                        <div class="upload__track-content qq-hide">
                                            <div class="row">
                                                <div class="col col-md-4">
                                                    <div class="img-container">
                                                        <div class="circle-player">
                                                            <div class="ui360 ui360-vis">
                                                                <a class="player-url" href="#"><i class="mdi-av-play-arrow"></i></a>
                                                            </div>
                                                        </div>

                                                        <div class="hide_show__player">
                                                            <input type="checkbox" class="hide-player" data-item-id="true" id="hide-player" />
                                                            <label title="Hide/Show Player" for="hide-player"></label>
                                                        </div>

                                                        <!--<img class="hidden cover-image" src="{{asset('img/no-cover.jpg')}}" alt="">-->
                                                        <input style="position: absolute; top: 50%; left: 50%; opacity: 0; height: 1px; width: 1px;" class="cover-area" type="text">
                                                        <input data-item-id="true" required="" type="hidden" class="cover-field" name="cover-field" id="cover-field">
                                                    </div>
                                                    <div class="file-field input-field">
                                                        <div class="btn select__image-btn">
                                                            <span>Add image</span>
                                                            <input data-item-id="true" class="file-blob" type="file">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col col-md-8">
                                                    <div class="input-field">
                                                        <input required="" data-item-id="true" class="track-name-field" id="track-name-field" name="track-name-field" type="text">
                                                        <label for="track-name-field">Название</label>
                                                    </div>
                                                    <div class="input-field">
                                                        <input required="" data-item-id="true" class="artist-tag" name="artists-field" id="artists-field" type="text">
                                                        <label class="active" for="artists-field">Исполнитель</label>
                                                    </div>
                                                    <div class="input-field">
                                                        <input id="album-field" class="album-field" name="album-field" data-item-id="true" type="text">
                                                        <label for="album-field">Альбом</label>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col col-md-7">
                                                            <div class="input-field">
                                                                <input required="" data-item-id="true" class="publisher-tag" name="publisher-field" id="publisher-field" type="text">
                                                                <label class="active" for="publisher-field">Лейбл</label>
                                                            </div>
                                                        </div>
                                                        <div class="col col-md-3">
                                                            <div class="input-field">
                                                                <input required="" data-item-id="true" id="released-field" class="released-field pikaday" name="released-field" type="text">
                                                                <label for="released-field">Дата релиза</label>
                                                            </div>
                                                        </div>
                                                        <div class="col col-md-2">
                                                            <div class="input-field">
                                                                <label for="bpm-field">BPM</label>
                                                                <input id="bpm-field" class="bpm-field" data-item-id="true" name="bpm-field" type="text">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="input-field">
                                                        <input required="" data-item-id="true" class="genres-tag" name="genres-field" id="genres-field" type="text">
                                                        <label class="active" for="genres-field">Жанры</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-md-6">
                                                    <div class="input-field">
                                                        <textarea class="materialize-textarea comment-field" name="comment-field" id="comment-field" data-item-id="true"></textarea>
                                                        <label for="comment-field">Комментарий</label>
                                                    </div>
                                                </div>
                                                <div class="col col-md-6">
                                                    <div class="input-field">
                                                        <textarea class="materialize-textarea lyric-field" name="lyric-field" id="lyric-field" data-item-id="true"></textarea>
                                                        <label for="lyric-field">Текст песни</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="align-right">
                                                <div style="margin-bottom: 20px;" class="status">
                                                    <input name="status" id="status" checked type="checkbox" class="filled-in" value="published" />
                                                    <label for="status">Опубликовать</label>
                                                </div>
                                                <!-- <input type="submit" class="btn submit-form disabled" value="@lang('button.add')"> -->
                                                <a href="#" class="btn submit-form disabled" data-name="publish">Добавить</a>
                                            </div>


                                            <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                                            <!-- <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale> -->

                                            <!-- <span class="qq-upload-file-selector qq-upload-file"></span> -->
                                            <!-- <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text"> -->
                                            <!-- ///////////////// -->
                                            <!-- <input id="checkbox" class="checkbox" type="checkbox"> -->

                                            <!-- <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span> -->
                                        </div>
                                    </div>
                                    <input type="hidden" value="track" name="content-type">
                                    <input required="" type="hidden" value="null" name="file-id">
                                    <input required="" type="hidden" value="null" name="file-name">
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>

                <dialog class="qq-alert-dialog-selector popup-message">
                    <span class="close-button">x</span>
                    <div class="qq-dialog-message-selector"></div>
                    <div class="qq-dialog-buttons">
                        <button type="button" class="qq-cancel-button-selector">Закрыть</button>
                    </div>
                </dialog>

                <dialog class="qq-confirm-dialog-selector popup-message">
                    <span class="close-button">x</span>
                    <div class="icon warning"><span>!</span></div>
                    <div class="qq-dialog-message-selector"></div>
                    <div class="qq-dialog-buttons">
                        <button type="button" class="qq-ok-button-selector green">Да</button>
                        <button type="button" class="qq-cancel-button-selector red">Нет</button>
                    </div>
                </dialog>

                <dialog class="qq-prompt-dialog-selector popup-message">
                    <span class="close-button">x</span>
                    <div class="qq-dialog-message-selector"></div>
                    <input type="text">
                    <div class="qq-dialog-buttons">
                        <button type="button" class="qq-ok-button-selector blue">Ок</button>
                        <button type="button" class="qq-cancel-button-selector">Отменить</button>
                    </div>
                </dialog>
            </div>
        </div>
        <!--<div ref="template" id="qq-template">-->
            <!--<div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="Перетащите файлы сюда">-->
                <!--<div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">-->
                    <!--<div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"-->
                         <!--class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>-->
                <!--</div>-->

                <!--<div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>-->
                    <!--<span class="qq-upload-drop-area-text-selector"></span>-->
                <!--</div>-->

                <!--<span class="qq-drop-processing-selector qq-drop-processing">-->
                        <!--<span>Обработка пропущенных файлов...</span>-->
                        <!--<span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>-->
                    <!--</span>-->

                <!--<ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite"-->
                    <!--aria-relevant="additions removals">-->
                    <!--<li>-->
                        <!--<span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>-->

                        <!--<div v-if="uploader && count" class="qq-progress-bar-container-selector qq-progress-bar-container">-->
                            <!--<div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"-->
                                 <!--class="qq-progress-bar-selector qq-progress-bar"></div>-->
                        <!--</div>-->

                        <!--<span class="qq-upload-spinner-selector qq-upload-spinner"></span>-->

                        <!--<div class="qq-thumbnail-wrapper">-->
                            <!--<img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>-->
                        <!--</div>-->

                        <!--<button type="button" class="qq-upload-cancel-selector qq-upload-cancel">-->
                            <!--<span class="icon-close"></span>-->
                        <!--</button>-->

                        <!--<button type="button" class="qq-upload-retry-selector qq-upload-retry">-->
                            <!--<span class="qq-btn qq-retry-icon" aria-label="Повторить"></span>-->
                            <!--Повторить-->
                        <!--</button>-->

                        <!--<div class="qq-file-info">-->
                            <!--<div class="qq-file-name">-->
                                <!--<span class="qq-upload-file-selector qq-upload-file"></span>-->
                                <!--<span class="qq-edit-filename-icon-selector qq-btn qq-edit-filename-icon"-->
                                      <!--aria-label="Редактировать имя"></span>-->
                            <!--</div>-->

                            <!--<input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">-->

                            <!--<span class="qq-upload-size-selector qq-upload-size"></span>-->

                            <!--<button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">-->
                                <!--<span class="qq-btn qq-delete-icon icon-trash" aria-label="Удалить"></span>-->
                            <!--</button>-->

                            <!--<button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">-->
                                <!--<span class="qq-btn qq-pause-icon icon-pause-circle" aria-label="Пауза"></span>-->
                            <!--</button>-->

                            <!--<button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">-->
                                <!--<span class="qq-btn qq-continue-icon icon-play-circle" aria-label="Продолжить"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->

                <!--<dialog class="qq-alert-dialog-selector">-->
                    <!--<div class="qq-dialog-message-selector"></div>-->
                    <!--<div class="qq-dialog-buttons">-->
                        <!--<button type="button" class="qq-cancel-button-selector">Закрыть</button>-->
                    <!--</div>-->
                <!--</dialog>-->

                <!--<dialog class="qq-confirm-dialog-selector">-->
                    <!--<div class="qq-dialog-message-selector"></div>-->
                    <!--<div class="qq-dialog-buttons">-->
                        <!--<button type="button" class="qq-cancel-button-selector">Нет</button>-->
                        <!--<button type="button" class="qq-ok-button-selector">Да</button>-->
                    <!--</div>-->
                <!--</dialog>-->

                <!--<dialog class="qq-prompt-dialog-selector">-->
                    <!--<div class="qq-dialog-message-selector"></div>-->
                    <!--<input type="text">-->
                    <!--<div class="qq-dialog-buttons">-->
                        <!--<button type="button" class="qq-cancel-button-selector">Отмена</button>-->
                        <!--<button type="button" class="qq-ok-button-selector">Ок</button>-->
                    <!--</div>-->
                <!--</dialog>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</template>

<script>
    require('dotenv').config();
    import qq from 'fine-uploader';
    import ID3 from 'jsmediatags';
    import 'fine-uploader/fine-uploader/fine-uploader-new.min.css';
    // import 'fine-uploader/fine-uploader/fine-uploader-gallery.min.css';

    export default {
        name: "Audio",
        data() {
            return {
                uploader: null,
                count: null,
                uploaded: null,
            }
        },

        async mounted() {
            let vm = this;
            let elem = vm.$refs.template;
            this.uploader = await new qq.FineUploader({
                element: this.$refs.uploader,
                template: elem,
                autoUpload: false,
                debug: true,
                request: {
                    method: 'POST',
                    endpoint: `${process.env.API_URL}/uploads`,
                    // endpoint: "/vendor/fineuploader/php-traditional-server/endpoint.php"
                },
                deleteFile: {
                    enabled: true,
                    endpoint: `${process.env.API_URL}/uploads`,
                    // endpoint: "/vendor/fineuploader/php-traditional-server/endpoint.php"
                },
                chunking: {
                    enabled: true,
                    concurrent: {
                        enabled: true
                    },
                    // success: {
                    //     endpoint: `${process.env.API_URL}/uploads`,
                    //     // endpoint: "/vendor/fineuploader/php-traditional-server/endpoint.php?done"
                    // }
                },
                resume: {
                    enabled: true,
                },
                retry: {
                    enableAuto: true,
                    showButton: true,
                },
                extraButtons: {
                    folders: true,
                },
                display: {
                    fileSizeOnSubmit: true,
                    prependFiles: true,
                },
                validation: {
                    allowedExtensions: ['mp3'],
                    sizeLimit: 1024 * 1024 * 250
                },
                callbacks: {
                    onSubmitted(id, name){
                        vm.count++;
                        let file = this.getFile(id);
                        let curElem = elem.querySelector(`[qq-file-id="${id}"]`);
                    },

                    onCancel(){
                        vm.count--;
                    },

                    onDeleteComplete(){
                        vm.uploaded++;
                    },

                    onComplete(){
                        vm.count--;
                        vm.uploaded++;
                    },
                }
            });

            let nextElem = elem.nextSibling;
            if(nextElem){
                nextElem.style.display = 'none';
            }
        }
    }
</script>

<style scoped>

</style>
