<template>
    <div class="default__layout">
        <header class="header">
            <div class="header__nav">
                <div :data-show="search.toggle" class="header__nav-search">
                    <div class="row align-items-center full-height">
                        <div class="col-12">
                            <form>
                                <div class="search__field">
                                    <input v-model="search.query" type="text" :placeholder="$t('other.search')">

                                    <div class="search__field-actions">
                                        <button class="search__field-btn">
                                            <i class="icon-search"></i>
                                        </button>

                                        <a @click.prevent="toggleSearch" href="#" class="search__field-close">
                                            <i class="icon-close"></i>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center full-height">
                    <div class="header__nav-left col-2">
                        <nuxt-link class="header__nav-logo" to="/">
                            <i class="icon-logo"></i>
                        </nuxt-link>
                    </div>

                    <div class="header__nav-center col-8 text-center">
                        <nav class="header__nav-center-nav">
                            <ul>
                                <li><nuxt-link :to="localePath('index')">{{ $t('navigation.home') }}</nuxt-link></li>
                                <li><nuxt-link :to="localePath('tracks')">{{ $t('navigation.tracks') }}</nuxt-link></li>
                                <li><nuxt-link :to="localePath('artists')">{{ $t('navigation.artists') }}</nuxt-link></li>
                                <li><nuxt-link :to="localePath('genres')">{{ $t('navigation.genres') }}</nuxt-link></li>
                                <li><nuxt-link :to="localePath('about')">{{ $t('navigation.about') }}</nuxt-link></li>
                                <li><nuxt-link :to="localePath('events')">{{ $t('navigation.events') }}</nuxt-link></li>
                                <li><nuxt-link :to="localePath('news')">{{ $t('navigation.news') }}</nuxt-link></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="header__nav-right col-2 text-right">
                        <ul class="header__nav-right-actions">
                            <li>
                                <a @click.prevent="toggleSearch" href="#"><i class="icon-search"></i></a>
                            </li>

                            <LanguageSwitcher :open="languageShow" @toggle="toggleLanguage" />

                            <li>
                                <nuxt-link :to="localePath('user')"><i class="icon-user"></i></nuxt-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div class="content">
            <!--<canvas style="background: red" height="100" ref="canvas"></canvas>-->
            <nuxt />
        </div>

        <div class="footer">

        </div>

        <audio-player />
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import LanguageSwitcher from '~/components/LanguageSwitcher';
    import WaveformData from 'waveform-data';
    export default {
        name: "default",
        components: {
            LanguageSwitcher,
        },
        data(){
            return {
                search: {
                    query: '',
                    toggle: false
                },

                languageShow: false,
                userShow: false,
                waveform: null,
            }
        },

        watch: {
            $route(to, from) {
                this.search.toggle = false;
            }
        },

        computed: {
            ...mapGetters({
               current: 'player/current',
            }),
        },

        methods: {
            toggleSearch(){
                this.closeUserDropdown();
                this.closeLanguageDropdown();
                let search = this.search.toggle;
                if(search){
                    this.search.query = '';
                }
                this.search.toggle = !(search);
            },

            toggleLanguage(){
                this.closeUserDropdown();
                this.languageShow = !(this.languageShow);
            },

            toggleUserDropdown(){
                this.userShow = !(this.userShow);
            },

            closeLanguageDropdown(){
                this.languageShow = false;
            },

            closeUserDropdown(){
                this.userShow = false;
            },

            async getWaveForm(data = '/test.dat'){
                await fetch(data)
                    .then(response => response.arrayBuffer())
                    .then(buffer => {
                        this.waveform = buffer;
                    });
            },

            async makeWaveForm(){
                this.$refs.canvas.setAttribute('width', window.innerWidth);
                this.$refs.canvas.style.height = `100px`;

                await this.getWaveForm();

                const waveform = WaveformData.create(this.waveform);

                const interpolateHeight = (total_height) => {
                    const amplitude = 256;
                    return (size) => total_height - ((size + 128) * total_height) / amplitude;
                };

                const canvas = this.$refs.canvas;
                const y = interpolateHeight(canvas.height);
                const ctx = canvas.getContext('2d');
                // ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.beginPath();

// from 0 to 100
                waveform.min.forEach((val, x) => {
                    ctx.lineTo(x + 0.5, y(val) + 0.5);
                });

// then looping back from 100 to 0
                waveform.max.reverse().forEach((val, x) => {
                    ctx.lineTo((waveform.offset_length - x) + 0.5, y(val) + 0.5);
                });

                ctx.closePath();
                ctx.stroke();
                ctx.fill();
            }
        },

        mounted(){
            // this.makeWaveForm();
            // window.addEventListener('resize', () => {
            //    this.makeWaveForm();
            // });
        },
    }
</script>

<style scoped>

</style>
