<template>
    <div class="home__page">
        <div class="banner__container">
            <div class="row no-gutters">
                <div class="col-3">
                    <featured-tracks />
                </div>

                <div class="col-9">
                    <News />
                </div>
            </div>
        </div>

        <div class="content">
            <div class="row no-gutters">
                <div class="col-3">
                    <Sidebar />
                </div>

                <div class="col-9">
                    <div class="main__content">
                        <div class="content_section">
                            <h4 class="content__title">{{ $t('titles.week_artists') }}</h4>

                            <div v-swiper:artistsSwiper="slider" class="artists">
                                <div class="swiper-wrapper">
                                    <Artist v-for="artist in artists" :artist="artist" :key="artist.id" />
                                </div>
                            </div>
                        </div>

                        <div class="content_section">
                            <h4 class="content__title">{{ $t('titles.our_tracks') }}</h4>

                            <div v-swiper:ourTracksSwiper="slider" class="tracks">
                                <div class="swiper-wrapper">
                                    <FullTrack v-for="track in ourTracks" class="swiper-slide" :track="track" :key="track.id" />
                                </div>
                            </div>
                        </div>

                        <div class="content_section">
                            <h4 class="content__title">{{ $t('titles.last_tracks') }}</h4>

                            <div v-swiper:tracksSwiper="slider" class="tracks">
                                <div class="swiper-wrapper">
                                    <FullTrack v-for="track in tracks" class="swiper-slide" :track="track" :key="track.id" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FeaturedTracks from '~/components/Tracks/FeaturedTracks';
    import FullTrack from '~/components/Tracks/FullTrack';
    import Artist from '~/components/Artist';
    import Sidebar from '~/components/Sidebar/Sidebar';
    import News from '~/components/Header/News';
    import { mapMutations } from 'vuex';
    export default {
        name: "index",
        components: {
            FeaturedTracks,
            FullTrack,
            Artist,
            Sidebar,
            News,
        },

        data() {
            return {
                active: '',

                slider: {
                    autoplay: {
                        delay: 5000,
                    },
                    reverseDirection: true,
                    breakpointsInverse: true,
                    breakpoints: {
                        // when window width is >= 320px
                        320: {
                            slidesPerView: 2,
                            spaceBetween: 20
                        },
                        // when window width is >= 480px
                        480: {
                            slidesPerView: 3,
                            spaceBetween: 30
                        },
                        // when window width is >= 640px
                        640: {
                            slidesPerView: 4,
                            spaceBetween: 30
                        }
                    }
                },

                ourTracks: [
                    {
                        id: 6,
                        artists: 'Bellorum, Aazar',
                        track: 'Back Home',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523801192-bellorumaazar-back-home.jpg',
                        mp3: 'https://edm.uz/files/b51750c9-640b-4c5d-9e03-019983ba0dfb/b51750c9-640b-4c5d-9e03-019983ba0dfb-128.mp3',
                    },

                    {
                        id: 7,
                        artists: 'Quintino, Alvaro',
                        track: 'Dem Shots',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523863461-quintino-alvaro-dem-shots.jpg',
                        mp3: 'https://edm.uz/files/36dae166-7290-4322-a060-39b13ef46a4a/36dae166-7290-4322-a060-39b13ef46a4a-128.mp3',
                    },

                    {
                        id: 8,
                        artists: 'Breathe Carolina, KEVU',
                        track: 'Ravers (Extended Mix)',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523863475-breathe-carolina-ang-like-that-extended-mix.jpg',
                        mp3: 'https://edm.uz/files/6baad29d-0ab8-41b5-8989-25fbf181c494/6baad29d-0ab8-41b5-8989-25fbf181c494-128.mp3',
                    },

                    {
                        id: 9,
                        artists: 'Sullivan King',
                        track: 'Don\'t Go',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1526155881-sullivan-king-falling.jpg',
                        mp3: 'https://edm.uz/files/939ab93b-7a96-4e06-86db-4257ebb945ec/939ab93b-7a96-4e06-86db-4257ebb945ec-128.mp3',
                    },

                    {
                        id: 10,
                        artists: 'Starx & Distort',
                        track: 'Moksha',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1526156094-starx-distort-moksha.jpg',
                        mp3: 'https://edm.uz/files/6232990a-e2af-455b-9e6f-cc89343944ba/6232990a-e2af-455b-9e6f-cc89343944ba-128.mp3',
                    },
                ],
                tracks: [
                    {
                        id: 1,
                        artists: 'Radiology',
                        track: 'Phobia',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523719749-radiology-phobia.jpg',
                        mp3: 'https://edm.uz/files/c47a07b7-53ef-455c-a947-f9d4aae27fb6/c47a07b7-53ef-455c-a947-f9d4aae27fb6-128.mp3',
                    },

                    {
                        id: 2,
                        artists: 'Dada Life',
                        track: 'One Nation Under Lasers (Original Mix)',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523791430-dada-life-one-nation-under-lasers-original-mix.jpg',
                        mp3: 'https://edm.uz/files/19423b30-0d87-4b1e-a1bd-ae1c7396751f/19423b30-0d87-4b1e-a1bd-ae1c7396751f-128.mp3',
                    },

                    {
                        id: 3,
                        artists: 'Dropgun',
                        track: 'Together As One (Original Mix)',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523795772-dropgun-together-as-one-original-mix.jpg',
                        mp3: 'https://edm.uz/files/accf0b4c-75b4-4bfa-a980-ca2a2b4e9c4c/accf0b4c-75b4-4bfa-a980-ca2a2b4e9c4c-128.mp3',
                    },

                    {
                        id: 4,
                        artists: 'Going Deeper, Mingue',
                        track: 'Hold On (Original Mix)',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523796020-going-deepermingue-hold-on-original-mix.jpg',
                        mp3: 'https://edm.uz/files/5b00453c-13c9-4f12-9264-b914fbee1477/5b00453c-13c9-4f12-9264-b914fbee1477-128.MP3',
                    },

                    {
                        id: 5,
                        artists: 'Timmy Trumpet, Dimatik',
                        track: 'Punjabi',
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1523797057-timmy-trumpetdimatik-punjabi.jpg',
                        mp3: 'https://edm.uz/files/eaedf88a-5a9c-4299-9073-b01a64ce552e/eaedf88a-5a9c-4299-9073-b01a64ce552e-128.mp3',
                    },
                ],

                artists: [
                    {
                        id: 1,
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1526225814-lny-tnz.jpg',
                        name: 'LNY TNZ',
                    },
                    {
                        id: 2,
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1526220843-kronic.jpg',
                        name: 'Kronic',
                    },
                    {
                        id: 3,
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1526226641-dirtcaps.jpg',
                        name: 'Dirtcaps',
                    },
                    {
                        id: 4,
                        img: 'https://edm.uz/uploads/cover/500-500/crop/1526227566-leprince.jpg',
                        name: 'LePrince',
                    },
                    {
                        id: 5,
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1526228906-nfix-candic.jpg',
                        name: 'nFiX & Candic',
                    },
                    {
                        id: 6,
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1528613872-henry-fong.jpg',
                        name: 'Henry Fong',
                    },
                    {
                        id: 7,
                        img: 'https://edm.uz/uploads/cover/500-500/fit/1528706703-natalie-gioia.jpg',
                        name: 'Natalie Gioia',
                    },
                    {
                        id: 8,
                        img: 'https://edm.uz/uploads/cover/500-500/crop/1528706476-sagan.jpg',
                        name: 'Sagan',
                    },
                ],
            }
        },

        head(){
            return {
                title: 'Главная',
            }
        },

        mounted() {
            
        }
    }
</script>

<style scoped>

</style>
