<template>
    <div class="login__page full-height">
        <div class="d-flex align-items-center full-height">
            <div class="login__page-form text-center">
                <h3>Авторизация</h3>
                <form @submit.prevent="login(form.data())" action="">
                    <div class="form-field">
                        <input type="text" v-model="form.username" placeholder="Имя пользователя или email">
                    </div>

                    <div class="form-field">
                        <input type="password" v-model="form.password" placeholder="Пароль">
                    </div>

                    <div class="form-field">
                        <div class="row">
                            <div class="col-6 text-left">
                                <a href="#">Забыли пароль?</a>
                            </div>
                            <div class="col-6 text-right">
                                <nuxt-link to="/register">Регистрация</nuxt-link>
                            </div>
                        </div>
                    </div>

                    <div class="form-field">
                        <div class="row">
                            <div class="col-auto m-auto">
                                <input :disabled="disabled" type="submit" class="btn pink" value="Войти">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from '~/utilities/Form';
    export default {
        name: "login",
        middleware: 'guest',
        data() {
            return {
                disabled: false,
                form: new Form({
                   username: '',
                   password: '',
                }),
            }
        },

        head(){
            return {
                title: 'Авторизация',
            }
        }
    }
</script>

<style scoped>

</style>
