<template>
    <div class="login__page full-height">
        <div class="d-flex align-items-center full-height">
            <div class="login__page-form text-center">
                <h3>Регистрация</h3>
                <form @submit.prevent="register" action="">
                    <div class="form-field">
                        <input v-model="form.username" type="text" placeholder="Имя пользователя">
                    </div>

                    <div class="form-field">
                        <input v-model="form.email" type="email" placeholder="E-mail">
                    </div>

                    <div class="form-field">
                        <input v-model="form.password" type="password" placeholder="Пароль">
                    </div>

                    <div class="form-field">
                        <input v-model="form.password_confirmation" type="password" placeholder="Повторите пароль">
                    </div>

                    <div class="form-field">
                        <div class="row">
                            <div class="col-6 text-left">
                                <a href="#">Забыли пароль?</a>
                            </div>
                            <div class="col-6 text-right">
                                <nuxt-link to="/login">Авторизация</nuxt-link>
                            </div>
                        </div>
                    </div>

                    <div class="form-field">
                        <div class="row">
                            <div class="col-auto m-auto">
                                <input type="submit" class="btn pink" value="Зарегистрироваться">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from '~/utilities/Form';
    export default {
        name: "login",
        middleware: 'guest',
        data() {
            return {
                form: new Form({
                    username: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                })
            }
        },
        methods: {
            async register() {
                await this.$axios.$post('/register', this.form.data()).then(({ message }) => {
                    this.$notify.success(message);
                    this.login(this.form.data(), false);
                }).catch(({response}) => {
                    this.$notify.error(response.message);
                });
            }
        },
        head(){
            return {
                title: 'Регистрация',
            }
        }
    }
</script>

<style scoped>

</style>
