<template>

</template>

<script>
    export default {
        name: "search",
        head(){
            return {
                title: 'Поиск'
            }
        }
    }
</script>

<style scoped>

</style>
