<template>
    <div class="featured__tracks-container">
        <div class="featured__tracks">
            <a href="#"><img src="~/assets/img/art.png" alt=""></a>
        </div>
        <hr>
    </div>
</template>

<script>
    export default {
        name: "FeaturedTracks"
    }
</script>

<style scoped>

</style>
