<template>
    <div v-if="track" class="tracks-single">
        <div class="tracks-single-img">
            <img :src="track.img">
        </div>

        <div class="tracks-single-play">
            <play :track="track" />
        </div>

        <div class="tracks-single-text">
            <p>{{ track.track }}</p>
            <h6>{{ track.artists }}</h6>
        </div>
    </div>
</template>

<script>
    // import { mapGetters } from 'vuex';
    import Play from '~/components/Tracks/Play';
    export default {
        props: {
            track: Object,
        },
        name: "Track",
        components: {
            Play,
        }
    }
</script>

<style scoped>

</style>
