<template>
    <a v-if="track" :data-active="current.id === track.id && playing" @click.prevent="changeTrack(track)" class="circle__play" href="#">
        <i class="icon-play"></i>
    </a>
</template>

<script>
    import { mapMutations, mapGetters } from 'vuex';
    export default {
        name: "Play",
        props: ['track'],

        methods: {
            ...mapMutations({
                setCurrentTrack: 'player/setCurrentTrack',
                pushToTempPlaylist: 'player/pushToTempPlaylist',
            }),

            changeTrack(track){
                this.pushToTempPlaylist(track);
                this.setCurrentTrack(track);
            }
        },

        computed: {
            ...mapGetters({
               current: 'player/current',
               playing: 'player/playing',
            }),
        },
    }
</script>

<style scoped>

</style>
