<template>
    <div v-if="track" class="wide__track d-flex align-items-center">
        <div class="wide__track-img">
            <img :src="track.img">
            <play :track="track" />
        </div>

        <div class="wide__track-text">
            <h6>{{ track.artists }}</h6>
            <p>{{ track.track }}</p>
        </div>
    </div>
</template>

<script>
    // import { mapGetters } from 'vuex';
    import Play from '~/components/Tracks/Play';
    export default {
        props: ['track'],
        name: "Track",
        components: {
            Play,
        }
    }
</script>

<style scoped>

</style>
